body {
    font-family: 'Licorice', cursive;
    font-family: 'Moon Dance', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
  margin: 0px;
}
.top-head {
  color: royalblue;
  font-size: 40px;
}
.career-obj,
.project-short-desc,.about-me {
  font-weight: 700;
}

.basic-info {
  margin: 70px;
  padding-left: 2%;
}
.flexible-container {
  display: flex;
  margin: 0 -5px 150px 0px;
}
.parent {
  display: flex;
}
.profile-image {
  width: 50%;
  margin-right: 80px;
}

.profile-image img {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px var(--white);
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 5px 0 100px;
}
.button {
  background-image: linear-gradient(navy, rgb(34, 202, 185));
  text-decoration: none;
  font-weight: 950;
  padding: 10px 40px;
  color: white;
  border-radius: 15px;
}

.box {
  height: 80%;
  width: 350px;
  font-weight: 900;
  margin-left: 60px;
  margin-right: 50px;
  border-radius: 10px;
}
footer {
  text-align: center;
  font-weight: 900;
}

.line {
  border-left: 4px solid rgb(138, 51, 51);
  height: 100px;
}

.my-mission h1 {
  font-size: 40px;
  text-align: center;
}
.my-mission img {
  height: 220px;
}

#box1 {
  background: rgba(233, 178, 100, 0.253);
}
#box2 {
  background: rgba(111, 224, 187, 0.5);
}
#box3 {
  background: rgba(115, 119, 65, 0.5);
}
.about-me img {
  height: 320px;
  padding-left: 80px;
}
.project-image {
  height: 300px;
  padding-right: 120px;
  background-image: url(/image/shape-1.png);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: right;
}
.contact-me h1 {
  font-size: 40px;
  text-align: center;
}
.contact {
  width: 600px;
  background-color: fff;
  box-shadow: 0 0 20px 0 #999;
  margin-right: 550px;
  margin-left: 450px;
  position: absolute;
}
form {
  width: 500px;
  margin: 60px;
}
.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
}
.textarea-field {
  height: 150px;
  padding-top: 10px;
}
footer {
  
  background-color: black;
  text-align: center;
  color: whitesmoke;
  padding: 5px;
  height: 100px;
  margin-top: 700px;
}
